<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en-au">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bambi Diary is a journalling web application built by Harun Mohamed" />
    <meta property="og:description" content="Bambi Diary is a journalling web application built by Harun Mohamed" />
    <meta property="og:image" href="{{ url_for('static', filename='resources/' + 'thumbnail.jpg') }}" />
    <link rel="canonical" href="http://bambi.app/">
    <meta property="og:title" content="Bambi Diary">
    <meta property="og:description" content="Bambi Diary is a journalling web application built by Harun Mohamed">
    <meta property="og:url" content="http://bambi.app/">
    <meta property="og:site_name" content="Bambi">
    <meta property="og:image" content="{{ url_for('static', filename='resources/' + 'thumbnail.jpg') }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Bambi Diary is a journalling web application built by Harun Mohamed">
    <meta name="twitter:title" content="Bambi Diary">
    <meta name="twitter:domain" content="Bambi">
    <meta name="twitter:creator" content="@harunnmohamed">
    <meta name="twitter:image:src" content="{{ url_for('static', filename='resources/' + 'thumbnail.jpg') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS styles in static -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!--Font awesome kit -->
    <script src="https://kit.fontawesome.com/17192b7610.js"></script>

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='resources/' + 'logo.svg') }}">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Market</title>
    {% endif %}
    
  </head>
  <body>

<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <div>
      <a class="navbar-brand ml-4 pl-2" href="{{url_for('home')}}">
        <img src="{{ url_for('static', filename='resources/' + 'logo.svg') }}" width="50" height="50" alt="">
        <span style="color:#8a9496;font-size:25px;">Bambi Market</span>
      </a>
    </div>

    <div class="mx-auto d-none d-lg-block" style="width:200px;">
      <form class="form-inline">
      <input class="form-control form-control-sm mt-1" type="search" placeholder="🔍 Search" aria-label="Search" style="height:30px">
    </form>
    </div>

    <div class="form-inline my-2 mr-4 d-none d-lg-block">
      <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}"><i class="fas fa-home" style="color:#8a9496;font-size:25px"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('messages')}}">
          <i class="far fa-envelope" style="color:#8a9496;font-size:25px"></i>
        </a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('likes', username=current_user.username) }}"><i class="fas fa-heart" style="color:#8a9496;font-size:25px"></i></a>
      </li>
      <li class="nav-item dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#000;">
          <img src="{{ url_for('static', filename='profile_pics/' + current_user.dp) }}" width="30" height="30" alt="" style="border:2px solid #8a9496;border-radius:50%;">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('user_posts', username=current_user.username)}}"><i class="fas fa-user-circle"></i> Profile</a>
          <a class="dropdown-item" href="{{url_for('account')}}"><i class="far fa-bookmark"></i> Saved</a>
          <a class="dropdown-item" href="{{url_for('account')}}"><i class="fas fa-cog"></i> Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{url_for('logout')}}">Log Out</a>
        </div>
      </li>
      {% endif %}
    </ul>
    </div>

</nav>

 <div class="mb-4"></div>



  

  {% block content %} {% endblock %}

  <div id="new_post" class="">
    <button class="post_btn"><a href="{{ url_for('new_post') }}">📝</a></button>
  </div>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<script>
// Custom progress bar beneath logo
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
</script>
<script>
  //get id Year and add current year using JS
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>


<!--{% block scripts %}
    {{ moment.include_moment() }}
{% endblock %}-->

  </body>
</html>
